body {
    color: #EEE;
    background-color: #222;
    margin: 5px 10px 0 200px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #EEE;
}

hr {
    width: 400px;
}

.item {
    color: #8FA;
    text-decoration: underline;
}
