:root {
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --gray-4: #BDBDBD;
  --gray-5: #E0E0E0;
  --gray-6: #F2F2F2;
  --red: #EB5757;
  --orange: #F2994A;
  --yellow: #F2C94C;
  --green-1: #219653;
  --green-2: #27AE60;
  --green-3: #6FCF97;
  --blue-1: #2F80ED;
  --blue-2: #2D9CDB;
  --blue-3: #56CCF2;
  --purple-1: #9B51E0;
  --purple-2: #BB6BD9;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.1em;
  margin: .5em 10em;
}

@media all and (max-device-width: 480px) {
  body {
    font-size: 35px;
    margin: .5em 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3em;
}

header {
  border-bottom: thick solid var(--blue-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons *:link {
  color: var(--blue-1);
}

.icons *:visited {
  color: var(--blue-1);
}

.icons i {
  padding-left: 10px;
}

.title {
  margin-top: 50px;
}

.employer {
  margin-top: 70px;
}

.school {
  margin-top: 50px;
}

.position {
  padding-left: 20px;
  border-left: medium solid var(--blue-1);
}

.location {
  color: var(--blue-1);
}

.date {
  color: var(--blue-1);
}

.duration {
  color: var(--blue-1);
}

ul {
  line-height: 2em;
}

i.fas, i.fab {
  font-size: 48px;
}
